#top {
  height: 200px;
  width: 600px;
  margin: 0 auto;
}
p {
  height: 100px;
  width: 300px;
  margin: 0 auto;
}
h1 {
  width: 380px;
  margin: 30px auto;
}
#imgs {
  margin-top: 30px;
  border: 2px solid black;
  margin: 0 auto;
  width: 1170px;
  height: 410px;
  position: relative;
  background-color: #1a75ff;
}
#img1 {
  position: absolute;
  top:30px;
  left: 30px;
}
#img2 {
  position: absolute;
  top: 30px;
  left: 410px;
}
#img3 {
  position: absolute;
  top: 30px;
  left: 790px;
}
#buttons {
  width: 300px;
  height: 48px;
  margin: 0 auto;
  position: relative;
}
#draw-chart {
  background-color: blue; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: absolute;
  top: 0px;
  left: 0px;
}
#draw-list {
  background-color: blue; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: absolute;
  top: 0px;
  right: 0px;
}
ul {
  margin: 20px auto;
  width: 350px;

}
