body {
  background-color: #ffa366;
}
#top {
  height: 200px;
  width: 1170px;
  margin: 0 auto;
}
p {
  height: 100px;
  width: 500px;
  margin: 0 auto;
}
h1 {
  width: 380px;
  margin: 30px auto;
}
#imgs {
  margin-top: 30px;
  border: 2px solid black;
  margin: 0 auto;
  width: 1170px;
  height: 410px;
  position: relative;
  background-color: #1a75ff;
}
#img1 {
  position: absolute;
  top:30px;
  left: 30px;
  cursor: pointer;
}
#img2 {
  position: absolute;
  top: 30px;
  left: 410px;
  cursor: pointer;
}
#img3 {
  position: absolute;
  top: 30px;
  left: 790px;
  cursor: pointer;
}
#buttons {
  width: 400px;
  height: 48px;
  margin: 10px auto 0 auto;
  position: relative;
}
#draw-chart {
  background-color: #1b5dc1;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: absolute;
  top: 0px;
  left: 0px;
  cursor: pointer;
  transition: all 0.5s ease;
}
#draw-list {
  background-color: #1b5dc1;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  transition: all 0.5s ease;
}
#clear {
  background-color: #1b5dc1;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: absolute;
  top: 0px;
  left: 156px;
  cursor: pointer;
  transition: all 0.5s ease;
}
#clear:hover {
  background-color: #E58A00;
  border: 1px solid black;
}
#draw-chart:hover {
  background-color: #E58A00;
  border: 1px solid black;
}
#draw-list:hover {
  background-color: #E58A00;
  border: 1px solid black;
}
ul {
  margin: 20px auto;
  width: 350px;

}
